<%- include ('../layout.ejs') %>
<h2 class="mt-4"><%= title %></h2>
<form action="/createFiche" method="POST">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Entité</label>
        <select class="form-control" id="exampleFormControlSelect1" name="entite">
            <%  entites.forEach(element => { %>
                <option value="<%= element.id %>"><%= element.nom %></option>
            <% }) %>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Véhicule</label>
        <select class="form-control" id="exampleFormControlSelect2" name="vehicule">
            <%  vehicules.forEach(element => { %>
                <option value="<%= element.id %>"><%= element.marque %> <%= element.modele %> - <%= element.immatriculation %></option>
            <% }) %>
        </select>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput3">Date</label>
        <input type="date" class="form-control" id="formGroupExampleInput3" name="date">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput4">Lieu de départ</label>
        <input type="text" class="form-control" id="formGroupExampleInput4" name="lieuD">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput5">Lieu d'arrivée</label>
        <input type="text" class="form-control" id="formGroupExampleInput5" name="lieuA">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect3">Object du déplacement</label>
        <select class="form-control" id="exampleFormControlSelect3" name="objet">
            <%  objets.forEach(element => { %>
                <option value="<%= element.id %>"><%= element.nom %></option>
            <% }) %>
        </select>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput7">Commentaire</label>
        <input type="text" class="form-control" id="formGroupExampleInput7" name="commentaire">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput8">Relevé du compteur au départ</label>
        <input type="number" class="form-control" id="formGroupExampleInput8"  min="0" max="1000000" name="compteurD">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput9">Relevé du compteur à l'arrivée</label>
        <input type="number" class="form-control" id="formGroupExampleInput8" min="0" max="1000000" name="compteurA">
    </div>
    
    <button type="submit" class="btn btn-primary">Créer</button>
</form>
<%- include ('../footer.ejs') %>